{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

<div class="container" style="margin-top: 30px;">

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <p>
                {{ 'Byl Vám zaslán e-mail s návodem na nastavení nového hesla. E-mail obsahuje odkaz, na který je nutné kliknout pro nastavení nového hesla.'|trans }}
            </p>
            <p>
                {{ 'Pokud jste e-mail neobdrželi, zkontrolujte prosím složku se spamem nebo zkuste obnovování hesla zopakovat.'|trans }}
            </p>

                {#{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}#}

        </div>
    </div>

</div>

{% endblock %}
