{% extends "@User/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

    <div class="container" style="margin-top: 30px;">

        <div class="row">
            <div class="col-md-6 col-md-offset-3">

                <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request form-horizontal">
                    <fieldset>
                        <legend>{{ 'Obnova zapomenutého hesla'|trans }}</legend>
                        <div class="form-group">
                            <label for="username" class="control-label col-lg-2">{{ 'resetting.request.username'|trans }}</label>
                            <div class="col-lg-10">
                                <input class="form-control" type="text" id="username" name="username" required="required" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-10">
                                <input class="btn btn-primary" type="submit" value="{{ 'resetting.request.submit'|trans }}" />
                            </div>
                        </div>
                        <div>

                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

    </div>

{% endblock fos_user_content %}