{% extends "@User/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form "bootstrap_3_horizontal_layout.html.twig" %}

{% block fos_user_content %}

<div class="container" style="margin-top: 30px;">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
            <fieldset>
                <legend>{{ 'Obnova zapomenutého hesla'|trans }}</legend>
                {{ form_widget(form) }}
                <div>
                    <input class="btn btn-primary" type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
                </div>
            </fieldset>
            {{ form_end(form) }}
        </div>
    </div>
</div>

{% endblock fos_user_content %}
