<!DOCTYPE html>
<html lang="cs">
	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>SkyMojito mail</title>

		<!-- Responsivní chování pro moderní e-mailové klienty, které neořezávají hlavičku, umějí media query a respektují je. -->
		<style type="text/css">
			h1 {
				color: #37a0e0;
				font-size: 30px;
				line-height: 140%;
			}

			h2 {
				color: #37a0e0;
				font-size: 20px;
				line-height: 140%;
				margin-top: 30px;
			}

			a {
				color: #f14847;
				text-decoration: underline;
			}

			a:hover {
				text-decoration: none;
			}

			.btn {
				background-color: #f14847;
				color: #fff;
				padding: 5px 20px;
				margin: 5px 0 20px;
				text-decoration: none;
				display: inline-block;
			}

			@media only screen and (max-width: 620px) {
				table[class="wrapper"] {
					width: 100%!important;
				}

				table[class="content"] {
					font-size: 15px!important;
					line-height: 22px!important;
				}

				img {
					max-width: 100%;
				}
			}
		</style>
	</head>


	<!-- Základní styl -->
	<body style="padding: 0 0 0 0; margin: 0 0 0 0; background-color: #333333; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;">


		<!-- Základní styl znovu v extra wrapperu - některé webmaily (např. Centrum) ořezávají nejen <head>, ale i <body> -->
		<div style="padding: 0 0 0 0; margin: 0 0 0 0; background-color: #333333; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;">


			<!-- Základní obalující tabulka -->
			<table width="100%" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td style="padding: 0 10px 0 10px;">


						<!-- Vnitřní tabulka s nastavenou šířkou -->
						<table class="wrapper" width="600" align="center" style="background: #242424; border-top: 0;" border="0" cellpadding="0" cellspacing="0">


							<!-- Hlavička e-mailu -->
							<tr>
								<td class="header" style="height: 200px; background-color: #282828; padding-left: 10px; padding-right: 10px;" align="center">
									<a title="Wissenberk" href="https://www.wissenberk.net/">
										<img src="http://cdn.wissenberk.net/wissenberk-group-white@2x.png" width="400" style="border: 0;" alt="WissenberkGroup">
									</a>
								</td>
							</tr>


							<!-- Obsahová část e-mailu  -->
							<tr>
								<td>

									<!-- Extra tabulka pro obsahovou část e-mailu -->
									<table class="content" width="100%" style="padding: 30px 30px 30px 30px; font-family: Arial, sans-serif; font-size: 14px; color: #ffffff; line-height: 20px;" border="0" cellpadding="0" cellspacing="0">

										<tr>
											<td>


												{% block email_content %}{% endblock %}

												<p style="text-align: center; margin-top: 40px;">
													<em>Za členy WissenberkGroup</em>
													<br>
													Lukáš von <a href="https://www.wissenberk.net">Wissenberk</a>
												</p>


											</td>
										</tr>
									</table>

								</td>
							</tr>


							<!-- Patička e-mailu  -->
							<tr>
								<td>

									<!-- Extra tabulka pro patičku e-mailu -->
									<table style="width: 100%; font-family: Arial, sans-serif; color: #555555; font-size: 12px; height: 60px; background-color: #1c1c1c;">
										<tr>
											<!-- <td style="padding: 0 0 0 30px;">
												&copy; 2017 Wissenberk, všechna práva vyhrazena
											</td> -->

											<td style="text-align: center;">
												<a style="color: #f14847; text-decoration: none;" title="Wissenberk" href="http://www.wissenberk.net">www.wissenberk.net</a>
											</td>
										</tr>
									</table>

								</td>
							</tr>
						</table>


					</td>
				</tr>
			</table>


		</div>


	</body>
</html>
