{% extends "@App/email/base.html.twig" %}


{% block email_content %}
    <h1>Chcete se stát Dodavatelem nového projektu na Wissenberku?</h1>

    <h2>Ahoj!</h2>

    <p>Členové WissenberkGroup se dohodli na záměru nového projektu a projekt se dostává do fáze, kdy je potřeba pro něj vybrat Dodavatele.</p>

    <p style="text-align: center;">
    	<a href="https://www.wissenberk.net/project/co-bude-frcet-v-nasledujicich-letech" class="btn">Zobrazit projekt Co bude frčet v následujících letech?</a>
    </p>

    <p>Tuto zprávu dostáváš, protože ses zaregistroval do Wissenberku jako Dodavatel. I ty můžeš navrhnout řešení, které podle tebe nejvíc pomůže projektu ke zdárnému završení – sehnání financování a následném dodání k maximální spokojenosti členů WissenberkGroup.</p>

	<p style="text-align: center;">
    	<a href="https://www.wissenberk.net/project/co-bude-frcet-v-nasledujicich-letech" class="btn">Navrhnout řešení pro projekt Co bude frčet v následujících letech?</a>
    </p>

    <p>Věříme, že budeme společně těžit ze sdíleného vědění a děkujeme, že se zapojíš.</p>

{% endblock %}
