{% extends "@User/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

    <div class="container" style="margin-top: 30px;">

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3">

                {#<form class="form-horizontal">#}
                {#<fieldset>#}
                {#<legend>Legend</legend>#}
                {#<div class="form-group">#}
                {#<label for="inputEmail" class="col-lg-2 control-label">Email</label>#}
                {#<div class="col-lg-10">#}
                {#<input type="text" class="form-control" id="inputEmail" placeholder="Email">#}
                {#</div>#}
                {#</div>#}
                {#<div class="form-group">#}
                {#<label for="inputPassword" class="col-lg-2 control-label">Password</label>#}
                {#<div class="col-lg-10">#}
                {#<input type="password" class="form-control" id="inputPassword" placeholder="Password">#}
                {#<div class="checkbox">#}
                {#<label>#}
                {#<input type="checkbox"> Checkbox#}
                {#</label>#}
                {#</div>#}
                {#</div>#}
                {#</div>#}
                {#<div class="form-group">#}
                {#<label for="textArea" class="col-lg-2 control-label">Textarea</label>#}
                {#<div class="col-lg-10">#}
                {#<textarea class="form-control" rows="3" id="textArea"></textarea>#}
                {#<span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>#}
                {#</div>#}
                {#</div>#}
                {#<div class="form-group">#}
                {#<label class="col-lg-2 control-label">Radios</label>#}
                {#<div class="col-lg-10">#}
                {#<div class="radio">#}
                {#<label>#}
                {#<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">#}
                {#Option one is this#}
                {#</label>#}
                {#</div>#}
                {#<div class="radio">#}
                {#<label>#}
                {#<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">#}
                {#Option two can be something else#}
                {#</label>#}
                {#</div>#}
                {#</div>#}
                {#</div>#}
                {#<div class="form-group">#}
                {#<label for="select" class="col-lg-2 control-label">Selects</label>#}
                {#<div class="col-lg-10">#}
                {#<select class="form-control" id="select">#}
                {#<option>1</option>#}
                {#<option>2</option>#}
                {#<option>3</option>#}
                {#<option>4</option>#}
                {#<option>5</option>#}
                {#</select>#}
                {#<br>#}
                {#<select multiple="" class="form-control">#}
                {#<option>1</option>#}
                {#<option>2</option>#}
                {#<option>3</option>#}
                {#<option>4</option>#}
                {#<option>5</option>#}
                {#</select>#}
                {#</div>#}
                {#</div>#}
                {#<div class="form-group">#}
                {#<div class="col-lg-10 col-lg-offset-2">#}
                {#<button type="reset" class="btn btn-default">Cancel</button>#}
                {#<button type="submit" class="btn btn-primary">Submit</button>#}
                {#</div>#}
                {#</div>#}
                {#</fieldset>#}
                {#</form>#}


                <form class="form-horizontal" action="{{ path("fos_user_security_check") }}" method="post">
                    <fieldset>
                        <legend>{{ 'Přihlášení'|trans }}</legend>

                    {% if csrf_token %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    {% endif %}

                    <div class="form-group">
                        <label for="username" class="control-label col-lg-2">
                            {{ 'security.login.username'|trans }}
                        </label>
                        <div class="col-lg-10">
                            <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="username" class="control-label col-lg-2">
                            {{ 'security.login.password'|trans }}
                        </label>
                        <div class="col-lg-10">
                            <input class="form-control" type="password" id="password" name="_password" required="required" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-5">
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> <label for="remember_me"> {{ 'security.login.remember_me'|trans }}</label>
                        </div>
                        <div class="col-lg-5 text-right">
                            <a href="{{ path('fos_user_resetting_request') }}">Zapomenuté heslo</a>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-10">
                            <input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                            <br><br>
                            {{ 'nebo'|trans }}
                            <br><br>
                            <a class="btn btn-danger" type="button" id="_submit" name="_submit" href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans }}</a>
                        </div>
                    </div>

                    </fieldset>

                </form>
            </div>
        </div>

    </div>

{% endblock fos_user_content %}
