{% extends "AppBundle::layout.html.twig" %}

{% block content %}

    <style>
        form, .checkbox label, .control-label {
            font-size: 16px !important;
        }
        .checkbox {
            position: static !important;
            margin: 0 !important;
        }
    </style>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>{{ 'Hlídání akcí'|trans }}</h2>
                <p>{{ 'Pohlídáme akce za Vás. Stačí si vybrat jaké regiony či státy Vás zajímají. Jakmile najdeme akci, která by Vás mohla zajímat, dostanete od nás e-mail, který jste zadali při registraci.'|trans }}</p>
            </div>
        </div>
        <div class="row" style="margin-top: 30px;">
            <div class="col-sm-12">
                <form action="{{ path('app.watchDog.index') }}" method="post" name="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ 'Regiony'|trans }}</label>
                        <div class="col-sm-10">
                            <div class="row" style="margin-bottom: 30px;">
                                {% for d in regions %}
                                    {% set checked = '' %}
                                    {% if d.destination.id in dus %}
                                        {% set checked = 'checked="checked"' %}
                                    {% endif %}
                                    <div class="col-sm-4">
                                        <div class="checkbox">
                                            <label class="">
                                                <input type="checkbox" name="form[destinations][]" value="{{ d.destination.id }}" {{ checked }}> {{ d.title }}
                                            </label>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ 'Státy'|trans }}</label>
                        <div class="col-sm-10">
                            <div class="row" style="margin-bottom: 30px;">
                                {% for d in countries %}
                                    {% set checked = '' %}
                                    {% if d.destination.id in dus %}
                                        {% set checked = 'checked="checked"' %}
                                    {% endif %}
                                    <div class="col-sm-4">
                                        <div class="checkbox">
                                            <label class="">
                                                <input type="checkbox" name="form[destinations][]" value="{{ d.destination.id }}" {{ checked }}> {{ d.title }}
                                            </label>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            <input type="submit" class="btn btn-primary" value="Uložit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
