{% extends "@User/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form "bootstrap_3_horizontal_layout.html.twig" %}

{% block fos_user_content %}

    <div class="container" style="margin-top: 30px;">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
                <fieldset>
                    <legend>{{ 'Upravit profil'|trans }}</legend>
                    {{ form_widget(form) }}
                    <div class="form-group">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-10">
                            <input class="btn btn-primary" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
                        </div>
                    </div>
                </fieldset>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock fos_user_content %}
