{% extends "@User/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="container" style="margin-top: 30px;">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <p>
                    <a class="btn btn-primary" href="{{ path('app.default.index') }}">Pokračovat na hlavní stránku</a>
                </p>
                {#<div class="fos_user_user_show">#}
                    {#<p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>#}
                    {#<p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>#}
                {#</div>#}
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
