{% for post in posts %}
    {% if loop.index == 3 or loop.index == 4 %}

        {% if loop.index == 3 %}
            {% set c = 'item adsense hidden-lg hidden-md col-sm-12 col-xs-12' %}
        {% endif %}
        {% if loop.index == 4 %}
            {% set c = 'item adsense col-lg-12 col-md-12 hidden-sm hidden-xs' %}
        {% endif %}

        <div class="{{ c }}">
            <div class="item-inner">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- 1. agregator -->
                <ins class="adsbygoogle"
                     style="display:inline-block; width: 100%;"
                     data-ad-client="ca-pub-2146133990111257"
                     data-ad-slot="5637810625"
                     data-ad-format="horizontal"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>

    {% endif %}

    {% if loop.index == 11 or loop.index == 13 %}

        {% if loop.index == 11 %}
            {% set c = 'item adsense hidden-lg hidden-md col-sm-12 col-xs-12' %}
        {% endif %}
        {% if loop.index == 13 %}
            {% set c = 'item adsense col-lg-12 col-md-12 hidden-sm hidden-xs' %}
        {% endif %}

        <div class="{{ c }}">
            <div class="item-inner">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- 2. agregátor -->
                <ins class="adsbygoogle"
                     style="display:inline-block; width: 100%;"
                     data-ad-client="ca-pub-2146133990111257"
                     data-ad-slot="7114543829"
                     data-ad-format="horizontal"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>

    {% endif %}

    {% if loop.index == 19 or loop.index == 22 %}

        {% if loop.index == 19 %}
            {% set c = 'item adsense hidden-lg hidden-md col-sm-12 col-xs-12' %}
        {% endif %}
        {% if loop.index == 22 %}
            {% set c = 'item adsense col-lg-12 col-md-12 hidden-sm hidden-xs' %}
        {% endif %}

        <div class="{{ c }}">
            <div class="item-inner">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- 3. agregator -->
                <ins class="adsbygoogle"
                     style="display:inline-block; width: 100%;"
                     data-ad-client="ca-pub-2146133990111257"
                     data-ad-slot="8591277023"
                     data-ad-format="horizontal"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>

    {% endif %}

    <a class="item col-lg-4 col-md-4 col-sm-6 col-xs-12" href="{{ path('app.default.post', {'post_id' : post.id}) }}">
        <div class="item-inner">
            <div class="item-img"{% if post.destinationTo is not null %} style="background-image: url({{ asset('assets/destinations/' ~ post.destinationTo.imageName) }});"{% endif %}>
                <div class="item-inner-text">
                    <small>{{ post.createdAt|ago }}</small>
                    <h2 class="title">
                        {% if post.destinationFrom is not null %}
                            {{ post.destinationFrom.title(app.request.locale) }}
                            {% if post.destinationTo is not null %}
                                -
                            {% endif %}
                        {% endif %}
                        {% if post.destinationTo is not null %}
                            {{ post.destinationTo.title(app.request.locale) }}
                        {% endif %}
                    </h2>
                    <h3 style="margin-top: 5px;">
                        {% if post.currency == domainCurrency %}
                            {{ post.price|number_format(0, ',', ' ') }} {{ post.currency }}
                        {% else %}
                            {% if post.currency == 'CZK' or post.currency == 'EUR' or post.currency == 'PLN' or post.currency == 'RUB' or post.currency == 'GBP' %}
                                {{ (post.price*rates[post.currency])|number_format(0, ',', ' ') }} {{ domainCurrency }} {#<small>({{ 'asi'|trans }} {{ post.price|number_format(0, ',', ' ') }} {{ post.currency }})</small>#}
                            {% endif %}
                        {% endif %}
                    </h3>
                    {% for postSite in post.postSites %}
                        <div class="btn btn-primary btn-sm" style="margin-bottom: 3px;">{{ postSite.site.title }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </a>
{% endfor %}