<!doctype html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>eSky</title>
</head>
<body>
{% if app.request.locale == 'cs' %}
    {% set partnerId = "SKYMOJITOCZ" %}
{% else %}
    {% if app.request.locale == 'pl' %}
        {% set partnerId = "SKYMOJITOPL" %}
    {% else %}
        {% set partnerId = "SKYMOJITOCOM" %}
    {% endif %}
{% endif %}
<script
        id="esky"
        type="text/javascript"
        src="https://skybox.eskypartners.com/widget/qsf/init.js?partner_id={{ partnerId }}&theme=transparent"
        onload="renderSBWidget(this)"
>
</script>
</body>
</html>