<style>
    .logo img {
        height: 54px;
    }
    .lead {
        margin-top: 10px;
    }
    .jumbotron {
        padding-top: 5px;
        padding-bottom: 5px;
        margin-bottom: 0;
    }
    .jumbotron .logo img {
        height: 30px;
    }
    .dropdown-menu {
        min-width: inherit !important;
    }
    .dropdown-menu>li>a {
        font-size: inherit !important;
    }
    button img, .dropdown-menu img {
        height: 18px;
        margin-right: 2px;
    }
    .btn-group {
        position: absolute;
        top: 0;
        right: 0;
    }
</style>

<div class="btn-group hidden-xs">
    {% if app.user %}
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ app.user.username }} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-left">
            <li class="text-left"><a href="{{ path('app.watchDog.index') }}">{{ 'Hlídání akcí'|trans }}</a></li>
            <li class="text-left"><a href="{{ path('fos_user_profile_edit') }}">{{ 'Upravit profil'|trans }}</a></li>
            <li class="text-left"><a href="{{ path('fos_user_change_password') }}">{{ 'Změnit heslo'|trans }}</a></li>
            <li class="text-left"><a href="{{ path('fos_user_security_logout') }}">{{ 'Odhlásit se'|trans }}</a></li>
        </ul>
    {% else %}
        <a type="button" class="btn btn-primary" href="{{ path('fos_user_security_login') }}">
            {{ 'Přihlásit se / Registrovat'|trans }}
        </a>
    {% endif %}
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% if app.request.locale == 'cs' %}
            <img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.8.0/flags/1x1/cz.svg" > CZ <span class="caret"></span>
        {% endif %}
        {% if app.request.locale == 'sk' %}
            <img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.8.0/flags/1x1/sk.svg" > SK <span class="caret"></span>
        {% endif %}
        {% if app.request.locale == 'pl' %}
            <img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.8.0/flags/1x1/pl.svg" > PL <span class="caret"></span>
        {% endif %}
        {% if app.request.locale == 'en' %}
            <img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.8.0/flags/1x1/gb.svg" > EN <span class="caret"></span>
        {% endif %}
        {% if app.request.locale == 'de' %}
            <img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.8.0/flags/1x1/de.svg" > DE <span class="caret"></span>
        {% endif %}
        {% if app.request.locale == 'ru' %}
            <img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.8.0/flags/1x1/ru.svg" > RU <span class="caret"></span>
        {% endif %}
    </button>
    <ul class="dropdown-menu pull-right">
        {% if app.request.locale != 'cs' %}
            <li class="text-right"><a href="{{ path('app.default.index_locale', {'_locale': 'cs'}) }}"><img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.8.0/flags/1x1/cz.svg" > CZ</a></li>
        {% endif %}
        {% if app.request.locale != 'sk' %}
            <li class="text-right"><a href="{{ path('app.default.index_locale', {'_locale': 'sk'}) }}"><img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.8.0/flags/1x1/sk.svg" > SK</a></li>
        {% endif %}
        {% if app.request.locale != 'pl' %}
            <li class="text-right"><a href="{{ path('app.default.index_locale', {'_locale': 'pl'}) }}"><img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.8.0/flags/1x1/pl.svg" > PL</a></li>
        {% endif %}
        {% if app.request.locale != 'en' %}
            <li class="text-right"><a href="{{ path('app.default.index_locale', {'_locale': 'en'}) }}"><img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.8.0/flags/1x1/gb.svg" > EN</a></li>
        {% endif %}
        {% if app.request.locale != 'de' %}
            <li class="text-right"><a href="{{ path('app.default.index_locale', {'_locale': 'de'}) }}"><img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.8.0/flags/1x1/de.svg" > DE</a></li>
        {% endif %}
        {% if app.request.locale != 'ru' %}
            <li class="text-right"><a href="{{ path('app.default.index_locale', {'_locale': 'ru'}) }}"><img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.8.0/flags/1x1/ru.svg" > RU</a></li>
        {% endif %}
    </ul>
</div>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <a href="{{ path('app.default.index') }}" class="logo">
                    <img src="{{ asset('assets/image/logo_final.svg') }}">
                </a>
                {#<p class="lead">#}
                    {#{{ 'Namíchejte si svůj koktejl levných letenek!'|trans }}#}
                {#</p>#}
            </div>
        </div>

    </div>
</div>