{% extends "AppBundle::layout.html.twig" %}

{% block stylesheets %}
    <style>
        .body {
            padding-top: 80px;
        }
        /*.logo, .logo:hover {*/
        /*color: #fff;*/
        /*text-decoration: none;*/
        /*}*/
        .item-list {
            margin: 0 -5px;
        }
        .item {
            height: 300px;
            padding: 5px;
        }
        .item.adsense {
            padding: 5px !important;
            height: auto !important;
        }
        .item-inner {
            height: 100%;
            width: 100%;
            background: #4e5d6c;
            position: relative;
        }
        .item.adsense .item-inner {
            background: transparent !important;
        }
        .item-inner .item-img {
            width: 100%;
            height: 100%;
            background-position: center center;
            background-size: cover;
            background-color: #000;
        }
        .watchdog {
            background: #df691a;
        }
        .item-inner-text {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 10px;
            background-color: rgba(0, 0, 0, 0.5);
            color: #fff;
        }
        .title {
            margin: 0;
        }
        .checkbox label {
            display: inline-block;
            margin-right: 20px;
        }
        .form-destination .control-label {
            font-size: 20px;
            font-weight: bold;
        }
        .input-container {
            position: relative;
            overflow-x: auto;
        }
        .input-container input {
            width: auto !important;
            min-width: 100%;
        }
        .input-container .input-tags {
            position: absolute;
            top: 0;
            left: 0;
            padding: 8px 8px; /* kopíruje padding .input-container input (větší hodnota je poloviční) */
        }
        .input-container .input-tags .label {
            margin-left: 4px; /* kopíruje menší padding .input-container input (hodnota je poloviční) */
            margin-right: 4px; /* kopíruje menší padding .input-container input (hodnota je poloviční) */
        }
        .input-container .input-tags .label span {
            color: #fff;
            padding-left: 5px;
            font-size: 10px;
            cursor: pointer;
        }
        .margin-top-10 {
            padding-top: 15px;
        }
        .widgets .nav-tabs li:hover a, .widgets .nav-tabs li.active a {
            background: #df691a;
        }
        .widgets {
            background: #4e5d6c;
            padding-bottom: 15px;
        }
        .widgets .tab-pane {
            text-align: center;
            padding-top: 15px;
        }
        .filter .nav-tabs {
            margin-left: 15px;
        }
        .filter .nav-tabs li a {
            background: #4e5d6c;
        }
        .filter .nav-tabs li:hover a, .filter .nav-tabs li.active a {
            background: #df691a;
        }
        .tab-content {
            padding-top: 10px;
        }

        h5 {
            margin-bottom: 5px !important;
            font-size: 16px;
            margin-top: 5px !important;
        }
        .form-group {
            margin-bottom: 10px !important;
        }
        .form-group a.btn {
            margin-bottom: 4px;
            margin-right: 2px;
            font-size: 14px;
        }
        .iframeResize {
            overflow-y: hidden;
        }
        /*.tree {*/
            /*padding-top: 8px;*/
            /*margin-top: 1px;*/
        /*}*/
        /*.tree .treeItem {*/
            /*display: block;*/
            /*font-size: 14px;*/
        /*}*/
        /*.tree .treeItem input {*/
            /*margin: 0 4px 0 0;*/
        /*}*/
        /*.tree .treeItem[data-level='1'], .tree .treeItem[data-level='2'] {*/
            /*padding-left: 16px;*/
        /*}*/
        /*.tree .treeItem[data-level='3'], .tree .treeItem[data-level='4'] {*/
            /*padding-left: 32px;*/
        /*}*/
        /*.tree .treeItem .bold {*/
            /*font-weight: bold;*/
        /*}*/
        /*.btn-group-ts-multiple-2 {*/
            /*height: 325px;*/
            /*overflow-y: scroll;*/
        /*}*/
        /*.btn-group-inner {*/
            /*margin-left: 32px;*/
        /*}*/
        strong.select2-results__group {
            color: #000;
        }
        li.select2-results__option {
            color: #000;
        }
        li.select2-selection__choice {
            color: #fff !important;
            border: none !important;
            border-radius: 0 !important;
            background: #5cb85c !important;
            font-size: 18px;
        }
        .select2-container--default .select2-results>.select2-results__options {
            max-height: 400px;
        }
        .select2-selection__choice__remove {
            color: #fff !important;
        }
        .select2-selection__rendered {
            min-height: 60px;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">

            <div class="col-md-6 col-md-push-6 margin-top-10 widgets">
                <ul class="nav nav-tabs">
                    {#<li class="active"><a data-toggle="tab" href="#letenky">{{ 'Letenky'|trans }} Královna</a></li>#}
                    <li class="active"><a data-toggle="tab" href="#letenkyESky">{{ 'Letenky'|trans }} eSky</a></li>
                    <li><a data-toggle="tab" href="#ubytovani">{{ 'Ubytování'|trans }}</a></li>
                    <li><a data-toggle="tab" href="#autopujcovna">{{ 'Autopůjčovna'|trans }}</a></li>
                    <li><a data-toggle="tab" href="#dovolena">{{ 'Dovolená'|trans }}</a></li>
                    {#<li><a data-toggle="tab" href="#pojisteni">Pojištění</a></li>#}
                    {#<li><a data-toggle="tab" href="#kompenzace">Kompenzace</a></li>#}
                </ul>

                <div class="tab-content">
                    {#<div id="letenky" class="tab-pane fade in active">#}
                        {#<iframe src="https://letenky.kralovna.cz/booking/?idProdejce=5634" width="100%" height="1400" frameborder="0" marginwidth="0" marginheight="0"></iframe>#}
                    {#</div>#}
                    <div id="letenkyESky" class="tab-pane fade in active">
                        <iframe class="iframeResize" id="letenkyESkyIframe" src="{{ path('app.default.esky') }}" width="100%" height="612" frameborder="0" marginwidth="0" marginheight="0"></iframe>
                    </div>
                    <div id="ubytovani" class="tab-pane fade in">
                        <iframe src="https://www.booking.com/general.html?aid=344738&amp;tmpl=searchbox&amp;lang=cs" width="100%" height="230" frameborder="0" scrolling="no" name="sbox_iframe"></iframe>
                    </div>
                    <div id="autopujcovna" class="tab-pane fade" style="background: #fff;">
                        <iframe width="100%" scrolling="no" allowtransparency="true" frameborder="0" id="rc-connect-iframe" src="https://secure.rentalcars.com/partners/integrations/stand-alone-app/?preflang=cs&amp;integration=stand-alone&amp;enable-return-checkbox=true&amp;affiliateCode=skymojito&amp;adplat=cartab&amp;adcamp=standalone&amp;fts=true&amp;return-checkbox-enabled=true" height="370"></iframe>
                    </div>
                    <div id="dovolena" class="tab-pane fade">
                        <script src="https://aff.dovolena.cz/js/libs/dv_iframe_autosize.js?version=1505288809"></script>
                        <iframe id="dv_filter_iframe" width="100%" src="//aff.dovolena.cz/campaign/filter_iframe?cid=12528" scrolling="no"></iframe>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-md-pull-6 margin-top-10 filter">
                <form id="form" name="form" method="post" action="{{ path('app.default.index') }}">
                    <ul class="nav nav-tabs">
                        <li{% if not formExtend %} class="active"{% endif %}><a data-toggle="tab" href="#f_zakladni">{{ 'Základní filtr'|trans }}</a></li>
                        <li{% if formExtend %} class="active"{% endif %}><a data-toggle="tab" href="#f_rozsireny">{{ 'Rozšířený filtr'|trans }}</a></li>
                    </ul>
                    {#<div class="col-sm-12 text-left">#}
                    {#<div class="btn-group btn-group-ts-one">#}
                    {#<a href="#" class="btn btn-primary btn-sm">Základní filtr</a>#}
                    {#<a href="#" class="btn btn-default btn-sm">Rozšířený filtr</a>#}
                    {#</div>#}
                    {#</div>#}
                    <div class="tab-content">
                        <div id="f_zakladni" class="tab-pane fade{% if not formExtend %} in active{% endif %}">
                            <div class="col-sm-12 text-left">
                                <h5>{{ 'Zvolte destinaci'|trans }}</h5>
                                <div class="btn-group-ts-multiple form-group" data-form-name="simple-to">
                                    {% for d in formDestinations %}
                                        <a href="#" class="btn btn-default btn-sm" data-form-value="{{ d }}">{{ d }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-sm-12 text-left">
                                <h5>{{ 'Zvolte místo odletu'|trans }}</h5>
                                <div class="btn-group-ts-multiple form-group" data-form-name="simple-from">
                                    {% for d in formDestinationFroms %}
                                        <a href="#" class="btn btn-default btn-sm" data-form-value="{{ d.title }}">{{ d.title }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-sm-12 text-left">
                                <h5>{{ 'Maximální cena'|trans }}</h5>
                                <div class="btn-group-ts-one form-group" data-form-name="simple-price">
                                    {% for k, d in formPrices %}
                                        <a href="#" class="btn btn-default btn-sm" data-form-value="{{ k }}">{{ d }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-sm-12 text-left">
                                <h5></h5>
                                <button type="submit" class="btn btn-primary">{{ 'Zobrazit'|trans }}</button>
                                {% if f|length > 0 %}
                                    <a href="{{ path("app.default.index") }}" class="btn btn-danger btm-sm">{{ 'Resetovat'|trans }}</a>
                                {% endif %}
                            </div>
                        </div>
                        <div id="f_rozsireny" class="tab-pane fade{% if formExtend %} in active{% endif %}">
                            <div class="col-sm-12 text-left">
                                <h5>{{ 'Zadejte destinaci'|trans }}</h5>
                                <select class="form-destination-to" name="destination-to[]" multiple="multiple" data-form-name="destination-to">
                                    {% if formDestinationTos|length > 0 %}
                                        <optgroup label="{{ 'Doporučujeme'|trans }}">
                                            {% for destinationTo in formDestinationTos %}
                                                <option value="dt_{{ destinationTo.title }}" data-form-value="dt_{{ destinationTo.title }}" data-id='dt_{{ destinationTo.id }}' data-value='dt_{{ destinationTo.title }}'>{{ destinationTo.title }}</option>
                                            {% endfor %}
                                        </optgroup>
                                    {% endif %}
                                    {% set optgroup = null %}
                                    {% for destination in destinations %}
                                        {% if destination.ancestor == destination.id %}
                                            {% if not loop.first %}
                                                </optgroup>
                                            {% endif %}
                                            <optgroup label="{{ destination.title }}">
                                        {% else %}
                                            <option value="{{ destination.title }}" data-form-value="{{ destination.title }}" data-id='{{ destination.id }}' data-level='{{ destination.level }}' data-value='{{ destination.title }}'>{{ destination.title }}</option>
                                        {% endif %}
                                        {% if loop.last %}
                                            </optgroup>
                                        {% endif %}
                                    {% endfor %}
                                </select>

                                {#<div class="btn-group-ts-multiple form-group btn-group-ts-multiple-2" data-form-name="destination-to">#}
                                    {#<div>#}
                                    {#{% for destination in destinations %}#}
                                        {#{% if destination.ancestor == destination.id %}#}
                                            {#{% set parent = null %}#}
                                        {#{% else %}#}
                                            {#{% set parent = destination.ancestor %}#}
                                        {#{% endif %}#}
                                        {#{% if parent is not null %}#}
                                            {#<a href="#" class="btn btn-default btn-sm" data-form-value="{{ destination.title }}" data-id='{{ destination.id }}' data-level='{{ destination.level }}' data-parent='{{ parent }}' data-value='{{ destination.title }}'>{{ destination.title }}</a>#}
                                        {#{% else %}#}
                                                {#</div>#}
                                                {#<a href="#" class="btn btn-default btn-parent" data-form-value="{{ destination.title }}" data-id='{{ destination.id }}' data-level='{{ destination.level }}' data-parent='{{ parent }}' data-value='{{ destination.title }}'>{{ destination.title }}</a>#}
                                            {#<div class="btn-group-inner">#}
                                        {#{% endif %}#}

                                    {#{% endfor %}#}
                                            {#</div>#}
                                {#</div>#}
                            </div>
                            <div class="col-sm-12 text-left">
                                <br>
                                <h5>{{ 'Zadejte místo odletu'|trans }}</h5>
                                <select class="form-destination-from" name="destination-from[]" multiple="multiple" data-form-name="destination-from">
                                    {% set optgroup = null %}
                                    {% for destination in destinations %}
                                        {% if destination.ancestor == destination.id %}
                                            {% if not loop.first %}
                                                </optgroup>
                                            {% endif %}
                                            <optgroup label="{{ destination.title }}">
                                        {% else %}
                                            <option value="{{ destination.title }}" data-form-value="{{ destination.title }}" data-id='{{ destination.id }}' data-level='{{ destination.level }}' data-value='{{ destination.title }}'>{{ destination.title }}</option>
                                        {% endif %}
                                        {% if loop.last %}
                                            </optgroup>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-12 text-left">
                                <h5></h5>
                                <button type="submit" name="btn-submit" value="show" class="btn btn-primary">{{ 'Zobrazit'|trans }}</button>
                                {% if app.user %}
                                    <button type="submit" name="btn-submit" value="save" class="btn btn-success">{{ 'Zobrazit a uložit'|trans }}</button>
                                {% endif %}
                                {% if f|length > 0 %}
                                    <a href="{{ path("app.default.index") }}" class="btn btn-danger btm-sm">{{ 'Resetovat'|trans }}</a>
                                {% endif %}
                            </div>
                            {#<div class="col-sm-12 text-left">#}
                                {#<h5>{{ 'Zvolte destinaci'|trans }}</h5>#}
                            {#</div>#}
                            {#<div class="row">#}
                                {#<div class="col-sm-7">#}
                                    {#<div class="tree">#}
                                        {#{% for destination in destinations %}#}
                                            {#{% if destination.ancestor == destination.id %}#}
                                                {#{% set parent = null %}#}
                                            {#{% else %}#}
                                                {#{% set parent = destination.ancestor %}#}
                                            {#{% endif %}#}
                                            {#<label data-id='{{ destination.id }}' class='treeItem' data-level='{{ destination.level }}' data-parent='{{ parent }}' data-value='{{ destination.title }}'>#}
                                                {#<input type="checkbox"  name="form[destinations][]" value="{{ destination.id }}"> {{ destination.title }}#}
                                            {#</label>#}
                                        {#{% endfor %}#}
                                    {#</div>#}
                                {#</div>#}
                                {#<div class="col-sm-5">#}
                                    {#<div class="selected"></div>#}
                                {#</div>#}
                            {#</div>#}

                            {#<div class="col-sm-12 text-left">#}
                            {#<h4>Zadejte název státu</h4>#}
                            {#<input name="destinations" type="text" style="width: 100%;" class="form-control input-to" placeholder="např. Itálie, Dominikánská republika, Filipíny, ...">#}
                            {#<div class="tree">#}
                                {#<div class="tree-inner">#}

                            {#</div>#}
                            {#</div>#}
                            {#</div>#}
                            {#<div class="col-sm-5 text-left">#}
                            {#<h4>Vyberte si místo odletu</h4>#}
                            {#<input type="text" style="width: 100%;" class="form-control input-from">#}
                            {#</div>#}
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <div class="container" style="margin-top: 15px;">
        {% if posts|length == 0 %}
            <div class="row">
                <div class="col-xs-12">
                    <p>{{ 'Pro zadané parametry neexistuje žádný výsledek.'|trans }}</p>
                    {#<a href="{{ path('app.default.index') }}" class="btn btn-primary">{{ 'Zpět'|trans }}</a>#}
                </div>
            </div>
        {% else %}
            {#{{ posts_encoded }}#}
            <div class="item-list row" id="posts" data-ids="{{ ids }}" data-offset="0" data-dc="{{ domainCurrency }}">
                {#{{ include("AppBundle:Default:_posts.html.twig", {"posts" : posts, "offset" : 0, "length" : 24, "domainCurrency" : domainCurrency, "rates" : rates})  }}#}
                {#<div class="clearfix"></div>#}
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <button class="btn btn-primary" style="margin-top: 20px;" id="btn-loadPosts" data-text="{{ 'Načíst další'|trans }}" data-text-loading="{{ 'Načítám...'|trans }}">{{ 'Načíst další...'|trans }}</button>
                </div>
            </div>
        {% endif %}

    </div>

{% endblock %}

{% block javascripts %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    <script type="text/javascript">

        {% for key, group in f %}
            {% for item in group %}
                $('#form div[data-form-name="{{ key }}"] a.btn[data-form-value="{{ item }}"]').addClass("btn-primary");
                $('#form select[data-form-name="{{ key }}"] option[data-form-value="{{ item }}"]').attr('selected','selected');
            {% endfor %}
        {% endfor %}

        function loadPosts(){

            $("#btn-loadPosts").html($("#btn-loadPosts").attr("data-text-loading"));
            $("#btn-loadPosts").attr("disabled", "disabled");

            var $el = $("#posts");
            var url = "/posts/render"; // the script where you handle the form input.
            $.ajax({
                type: "POST",
                url: url,
                data: {
                    ids: $el.attr("data-ids"),
                    offset: $el.attr("data-offset"),
                    domainCurrency: $el.attr("data-dc"),
                },
                success: function (data) {
                    $el.append(data.html);
                    $("#btn-loadPosts").html($("#btn-loadPosts").attr("data-text"));
                    $("#btn-loadPosts").removeAttr("disabled", "disabled");
                    $el.attr('data-offset', $el.attr("data-offset")*1+1);
                    if(data.showBtn == 1){
                        $("#btn-loadPosts").show();
                    }else{
                        $("#btn-loadPosts").hide();
                    }
                }
            });

        }

        $(document).ready(function(){

            var iframe = $('#letenkyESkyIframe').contents();

            var initH = $(".filter").height()-$(".filter .nav-tabs").height()-62+15;

            $('#letenkyESkyIframe').attr("data-height", $('#letenkyESkyIframe').attr("height"));
            $('#letenkyESkyIframe').attr("height", initH);
//            $('#letenkyESkyIframe').attr("scrolling", 'no');

            iframe.find("html").click(function(){
                alert("test");
            });

            $("#btn-loadPosts").click(function(){
                loadPosts();
            });
            loadPosts();

//            $("a[data-toggle='tab']").click(function(e){
//                e.preventDefault();
//                $(this).closest('li').closest(".nav-tabs").find("li").removeClass('active');
//                $(this).closest('li').addClass("active");
//
//                $($(this).attr("href")).closest(".tab-content").find(".tab-pane").removeClass('active');
//                $($(this).attr("href")).addClass("active");
//
//                return false;
//            });

            $('.form-destination-to').select2({ width: '100%', closeOnSelect: false });
            $('.form-destination-from').select2({ width: '100%', closeOnSelect: false });

            $("#form .form-group a.btn").click(function(e){
                e.preventDefault();
                var el = $(this);
                var parentEl = $(this).closest(".form-group");
                if(el.hasClass("btn-primary")){
                    if(el.hasClass("btn-parent")){
                        $("#form .form-group a.btn[data-parent='" + el.attr("data-id") + "']").removeClass("btn-primary").addClass("btn-default");
                    }
                    if(parentEl.hasClass("btn-group-ts-one")){
                        parentEl.find("a.btn").removeClass("btn-primary").addClass("btn-default");
                    }
                    if(parentEl.hasClass("btn-group-ts-multiple")){
                        el.removeClass("btn-primary");
                        el.addClass("btn-default");
                    }
                }else{
                    if(el.hasClass("btn-parent")){
                        $("#form .form-group a.btn[data-parent='" + el.attr("data-id") + "']").addClass("btn-primary");
                    }
                    if(parentEl.hasClass("btn-group-ts-one")){
                        parentEl.find("a.btn").removeClass("btn-primary").addClass("btn-default");
                        el.addClass("btn-primary");
                        el.removeClass("btn-default");
                    }
                    if(parentEl.hasClass("btn-group-ts-multiple")){
                        el.addClass("btn-primary");
                        el.removeClass("btn-default");
                    }
                }
                return false;
            });

            $("#form button").click(function(e){
                e.preventDefault();
                if($('#form .tab-content .active').attr("id") === 'f_zakladni'){
                    $("#form .active .form-group").each(function(){
                        var value = [];
                        $(this).find("a.btn").each(function(){
                            if($(this).hasClass("btn-primary")){
                                value.push($(this).attr("data-form-value"));
                            }
                        });
                        if(value.length > 0){
                            value = value.join(";");
                            var name = $(this).attr("data-form-name");
                            var el = '<input type="hidden" name="' + name + '" value="' + value + '">';
                            $("#form").append(el);
                        }
                    });
                    $(this).closest('form').submit();
                }else{
                    $("#form .active select").each(function(){
                        var value = $(this).val();
                        if(value.length > 0){
                            value = value.join(";");
                            var name = $(this).attr("data-form-name");
                            var el = '<input type="hidden" name="' + name + '" value="' + value + '">';
                            $("#form").append(el);
                        }
                    });
                    $(this).closest('form').submit();
                }
            });

        });

    </script>

{% endblock %}
