<!doctype html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Seznam všech příspěvků</title>
</head>
<body>

<table border="1">
    <thead>
    <tr>
        <th>Id (maybePost)</th>
        <th>Processed</th>
        <th>Id (post)</th>
        <th>Inappropriate</th>
        <th>inappropriate reason</th>
        <th>Destination from (string to parse)</th>
        <th>Destination from - page (string to parse)</th>
        <th>Destination from (resolved)</th>
        <th>Destination to (string to parse)</th>
        <th>Destination to - page (string to parse)</th>
        <th>Destination to (resolved)</th>
        <th>Price (string to parse)</th>
        <th>Price (resolved)</th>
        <th>Currency (string to parse)</th>
        <th>Currency (resolved)</th>
        <th>Source url</th>
    </tr>
    </thead>
    <tbody>
    {% for r in result %}
        <tr>
            <td>{{ r['mp_id'] }}</td>
            <td>{{ r['processed'] }}</td>
            <td>{{ r['p_id'] }}</td>
            <td>{{ r['inappropriate'] }}</td>
            <td>{{ r['inappropriate_reason'] }}</td>
            <td>{{ r['maybeFrom'] }}</td>
            <td>{{ r['maybePageFrom'] }}</td>
            <td>{{ r['titleFrom'] }}</td>
            <td>{{ r['maybeTo'] }}</td>
            <td>{{ r['maybePageTo'] }}</td>
            <td>{{ r['titleTo'] }}</td>
            <td>{{ r['maybePrice'] }}</td>
            <td>{{ r['price'] }}</td>
            <td>{{ r['maybeCurrency'] }}</td>
            <td>{{ r['currency'] }}</td>
            <td>{{ r['url'] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

</body>
</html>