{% extends "AppBundle::layout.html.twig" %}

{% block title %}{{ post.title(app.request.locale) }} | Sky Mojito{% endblock %}

{% block content %}

    <div class="container">
        <div class="row" style="margin-top: 30px;">
            <div class="col-sm-8">
                <small>{{ post.createdAt|ago }}</small>
                <h1>
                    {% if post.destinationFrom is not null %}
                        {{ post.destinationFrom.title(app.request.locale) }}
                        {% if post.destinationTo is not null %}
                            -
                        {% endif %}
                    {% endif %}
                    {% if post.destinationTo is not null %}
                        {{ post.destinationTo.title(app.request.locale) }}
                    {% endif %}
                </h1>
                <h3>
                    {% if post.currency == domainCurrency %}
                        {{ post.price|number_format(0, ',', ' ') }} {{ post.currency }}
                    {% else %}
                        {% if post.currency == 'CZK' or post.currency == 'EUR' or post.currency == 'PLN' or post.currency == 'RUB' or post.currency == 'GBP' %}
                            {{ (post.price*rates[post.currency])|number_format(0, ',', ' ') }} {{ domainCurrency }} {#<small>({{ 'asi'|trans }} {{ post.price|number_format(0, ',', ' ') }} {{ post.currency }})</small>#}
                        {% endif %}
                    {% endif %}
                </h3>
                <p>{{ (post.perex(app.request.locale))|raw }}</p>
                {#<hr>#}

                {#<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>#}
                {#<!-- Skymojito_vnitrni_strana_pozice1 -->#}
                {#<ins class="adsbygoogle"#}
                     {#style="display:block"#}
                     {#data-ad-client="ca-pub-2146133990111257"#}
                     {#data-ad-slot="4250245558"#}
                     {#data-ad-format="auto"></ins>#}
                {#<script>#}
                    {#(adsbygoogle = window.adsbygoogle || []).push({});#}
                {#</script>#}

                <h4>{{ 'Najdete na'|trans }}:</h4>

                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- Skymojito_vnitrni_strana_pozice2 -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-2146133990111257"
                     data-ad-slot="9119428851"
                     data-ad-format="auto"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>

                {% for postSite in post.postSites %}
                    <a href="{{ postSite.url }}" target="_blank" class="btn btn-primary" style="margin-bottom: 3px; margin-top: 10px; margin-right: 3px;">{{ postSite.site.title }}</a>
                {% endfor %}
                <h4>{{ 'Komentáře'|trans }}</h4>
                {% set src = 'https://skymojitocz.disqus.com/embed.js' %}
                {% if app.request.locale == 'cs' %}
                    {% set src = 'https://skymojitocz.disqus.com/embed.js' %}
                {% endif %}
                {% if app.request.locale == 'en' %}
                    {% set src = 'https://skymojitocom.disqus.com/embed.js' %}
                {% endif %}
                {% if app.request.locale == 'de' %}
                    {% set src = 'https://skymojitode.disqus.com/embed.js' %}
                {% endif %}
                {% if app.request.locale == 'at' %}
                    {% set src = 'https://skymojitoat.disqus.com/embed.js' %}
                {% endif %}
                {% if app.request.locale == 'ru' %}
                    {% set src = 'https://skymojitoru.disqus.com/embed.js' %}
                {% endif %}
                {% if app.request.locale == 'sk' %}
                    {% set src = 'https://skymojitosk.disqus.com/embed.js' %}
                {% endif %}
                {% if app.request.locale == 'pl' %}
                    {% set src = 'https://skymojitopl.disqus.com/embed.js' %}
                {% endif %}
                <div id="disqus_thread"></div>
                <script>
                     var disqus_config = function () {
                     this.page.url = "{{ app.request.uri }}";  // Replace PAGE_URL with your page's canonical URL variable
                     this.page.identifier = "{{ post.id ~ app.request.locale }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                     };
                    (function() { // DON'T EDIT BELOW THIS LINE
                        var d = document, s = d.createElement('script');
                        s.src = "{{ src }}";
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            </div>
            <div class="col-sm-4">
                <img src="{% if post.destinationTo is not null %}{{ asset('assets/destinations/' ~ post.destinationTo.imageName) }}{% endif %}" style="width: 100%;">
            </div>
        </div>
    </div>

{% endblock %}
